version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped

    ports:
      - "3306:3306"

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sales
      MYSQL_USER: toot
      MYSQL_PASSWORD: zinthu@mysql

    volumes:
      - mysql_data:/var/lib/mysql

    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

volumes:
  mysql_data:
